.container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}

.detailedSector{
  background-color: white;
  width: 500px;
  height: auto;
  padding: 2rem;
  margin: 1rem;
  border-radius: 30px;
}
